.speech {
    font-style: oblique;
    font-size: 12px;
    color: black;
}

.song {
    font-style: inherit;
    font-size: 12px;
    color: black;
}

.direction {
    font-size: 16px;
    background-color: lightblue;
}

.direction:hover {
    background-color: crimson;
}

.ELSA {
    font-size: 14px;
    color: black;
}

.BERTHA {
    font-size: 14px;
    color: black;
}

.OLGA {
    font-size: 14px;
    color: black;
}

.GRET {
    font-size: 14px;
    color: black;
}

.CHORUS {
    font-size: 14px;
    color: black;
}

table,
th,
td {
    text-align: center;
    border: 1px solid;
    margin: 40px 40px 10px 40px;
    border-color: darkred;
}

th,
td {
    padding: 10px;
}
tr:nth-child(even) 
{background-color: #e2e2e2;}
th:nth-child(odd) {
    background-color: #8F9AA5;
}
.BERTHA:hover {
    text-shadow: 1px 4px 2px rgb(248, 6, 244);
}

.ELSA:hover {
    text-shadow: 1px 4px 2px rgb(248, 6, 244);
}

.OLGA:hover {
    text-shadow: 1px 4px 2px rgb(248, 6, 244);
}
.GRET:hover {
    text-shadow: 1px 4px 2px rgb(248, 6, 244);
}
i{
    color:chartreuse
}
ul.navbar-horizontal{
    margin: 35;
    list-style-type: none;
}
ul.navbar-horizontal li{
    float: left;
    background-color: blue;
}
ul.navbar-horizontal a:hover{
    background-color: red;

}
ul.navbar-horizontal a{
    display: block;
    padding: 16px;
    color: aliceblue;
    
}